@import url('https://fonts.googleapis.com/css?family=Anton');

@import "base/index";

@import "libraries/neat/neat";
@import "libraries/bourbon/bourbon";

// button {
//   padding: 1em;
//   margin: 1em;
//   border: 1px solid $black;
//   background: $white;
// }

h2 {
  color: $white;
  position: relative;
  top: 700px;
  font-family: $stack-anton;
  font-size: 10em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

hr {
  @extend %opacity;
  border: 1px solid $lilac;
}

span {
  color: $lilac;
}

.post {
  @extend %text;
  @extend %centered;
  display: none;
}

.reply {
  width: 20px;
}

// Modal
.lightbox .modal {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
   	min-width:500px;
    margin: 2% auto;
    padding:20px;
    background-color:#FFF;
    box-shadow: 0px 1px 26px -3px #777777;
    }
    .lightbox .title {
        margin:0;
        padding:0 0 10px 0px;
        border-bottom:1px #ccc solid;
        font-size:22px;
        }
    .lightbox .content {
        display:block;
        padding:10px 0 0 0px;
        font-size:18px;
        line-height:22px;
        }
    .lightbox .close {
        margin: 5px;
        float:right;
        display:block;
        text-decoration:none;
        font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:22px;
        color:#858585;
        }

        .lightbox {
    /** Hide the lightbox */
    display: none;
    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color:#333333;
    }

    .lightbox:target {
    /** Show lightbox when it is target */
    display: block;
    outline: none;
}

// Columns

.columns {
  @extend %flex;
}

.column {
  width: 200px;
  @extend %opacity;
  border: 5px solid $white;
  background: $lilac;
  flex: .2;
}

.mainColumn {
  flex: 2;
}

// Gallery

.box {
  width: 200px;
  height: 400px;
  flex-grow: 1;
}

.galleryOne {
  @extend %flex;
  flex-wrap: wrap;
}

.galleryTwo {
  @extend %flex;
  flex-wrap: wrap;
}

.galleryThree {
  @extend %flex;
  flex-wrap: wrap;
}

#imageOne {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/eyes.jpg');
}

#imageTwo {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/light.jpg');
}

#imageThree {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/color.jpg');
}

#imageFour {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/jeans.jpg');
}

#imageFive {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/kate.jpg');
}

#imageSix {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/rainbow.png');
}

#imageSeven {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/backpack.jpg');
}

#imageEight {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/daddy.jpg');
}

#imageNine {
  @extend %image;
  @extend %hover;
  background-image: url('#{$path-img}/skeleton.png');
}

#shoeOne {
  @extend %image;
  background-image: url('#{$path-img}/shoes.jpg');
}

#header-title {
  @extend %centered;
  font-family: $stack-molle;
  font-size: 3em;
  text-shadow: 10px 2px 10px $silver;
}

#footer-title {
  @extend %centered;
  border-top: 1px solid $black;
  font-family: $stack-molle;
  font-size: 2em;
  text-shadow: 10px 2px 10px $silver;
}

.clicked {
  height: 1000px;
}

// Flex Navigation
header {
  @extend %navigation;
}

.flex-container {
  @extend %flex;
  // @extend %opacity;
  width: 979px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 52px;
    a{
      color: $black;
    }
    ul {
      @extend %flex;
    }
    li {
      padding: 10px;
      list-style-type: none;
    }
}

.flex-container a:before,
.flex-container a:after {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.flex-container a:before {
    margin-right: 5px;
    content: '[';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}

.flex-container a:after {
    margin-left: 5px;
    content: ']';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}

.flex-container a:hover:before,
.flex-container a:hover:after,
.flex-container a:focus:before,
.flex-container a:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}


a:link {
  text-decoration: none;
}

.logo {
  @extend %flex;
  width: 3em;
  align-items: center;
}

// Mobile Media Query
@media only screen
and (max-width: 1200px)
and (-webkit-min-device-pixel-ratio: 1) {
  .column {
    display: none;
  }
}
