// Colors
$black: #000000;
$white: #FFFFFF;
$lilac: #AE8CA3;
$background: #F1F7ED;
$silver: #BBC8CA;
$mint: #AAFAC8;
$hotpink: #EE4B6A;

// Fonts
$stack-molle: 'Molle', cursive;
$stack-anton: 'Anton', sans-serif;

// Asset Paths
$path-img: '../img';
